@font-face {
    font-family: Montserrat;
    src: url("/src/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@import "tailwindcss";


@theme {
    --font-montserrat: Montserrat;
    --color-cgic-naranja-1: #e83c1d;
    --color-cgic-naranja-2: #e63a1c;
    --color-cgic-azul: #006076;
    --color-cgic-blanco: #fffff0;
    --color-cgic-negro: #040918;
    --color-cgic-gris-claro: #f5f5f5;
    --color-cgic-gris-oscuro: #404041;
    --color-secondary: hsl(360 100 28);
}

@layer base {
    html {
        scroll-padding-top: 120px;
        font-family: Montserrat;
        background-color: #fffff0;
    }
}